.carrousel{
    position: relative; 
    display: flex;
    justify-content: center; 
    border-radius: 25px;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    &__images{
       
        width:100%;
        height:410px;
        object-fit: cover;
        border-radius: 25px;
    }
    & .arrow{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top:38%;
        
    }
    &__right{
        right: 3%;        
    }

    &__left{
        left:3%;
    }
    
    & p{
        position: absolute;
        color: $white-color;
        bottom:20px;
        
    }
}

//tablet and phone display
@include tablet-display($max-width-tablet){
    .carrousel{      
        
        &__images{
            height:255px;
        }
        & .arrow{
            top:40%;
            height:30px;
        }
        & p{
            display: none;
        }
    }
}