.header{
    display:flex;
    justify-content: space-between;
    margin: 70px 0;

    &__nav{
        display: flex;
        align-items: center;

        & a{
            font-size: 24px;
            margin:0 0 0 100px;
            
            &.active{
                text-decoration: underline;
            }
        }
    }
}

//header for tablet
@include tablet-display($max-width-tablet){
    .header{
        margin:30px 0;

        & img{
            width:100px;
        }

        &__nav a{
            text-transform: uppercase;
            font-size: 16px;
            margin:0 0 0 50px;
        }
    }
}

//header for phone
@include phone-display($max-width-phone){
    .header{

        &__nav a{
            font-size: 10px;
            margin:0 0 0 12px;
        }
    }
}