footer{
    padding: 15px 0;
    background-color: black;
    text-align: center;
    /* display: flex;
    flex-direction: column; */

    & img{
        margin-top: 30px;
    }

    & p{
        color: #ffffff;
        margin-top: 30px;
    }
}