.header{
    display:flex;
    justify-content: space-between;
    margin: 30px 0;

    &__nav{
        display: flex;
        align-items: center;

        & a{
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            margin:0 0 0 100px;

            &:hover{
                cursor: pointer;
            }
            
            &.active{
                text-decoration: underline;
            }
        }
    }
}