.about{
    margin: 50px auto 0 auto;
    max-width: 1020px;

    &__content{
        margin-top:30px;

        &--title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $first-color;
            border-radius: 10px;
            padding: 0 20px 0 20px;
            cursor: pointer;

            & img{
                height:15px;
            }

            & p{
                font-size: 24px;
                color:$white-color;
            }
        }

        &--description{
            line-height: 150%;
            position: relative;
            top:-10px;
            z-index: -1;
            font-size: 24px;
            font-weight: 400;
            padding: 30px 20px;
            background-color: $second-color;
        }
    }
}

//tablet display
@include tablet-display($max-width-tablet){
    .about {
        margin: 20px auto 0 auto;
    }
}

@include phone-display($max-width-phone){
    .about {
        &__content{
        
            &--title{
        
                & img{
                    height:15px;
                }
        
                & p{
                    font-size: 13px;
                }
            }
        
            &--description{
                font-size: 12px;
            }
        }
    }
}


