.apartment{

    &__detail{
        margin-top:40px;
        display: flex;
        justify-content: space-between;

        & h1{
            margin: 0;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;
        }
    }

    &__tags{
        display: flex;

        & p{
            margin-right: 20px;
            padding:5px 15px;
            border-radius: 10px;
            background-color: #ff6060;
            color:#ffffff;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__host{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--name{
            display: flex;
            gap: 20px;

            & img{
                height:64px;
                border-radius: 100%;
            }
        }

        &--rating{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }

        
    }
}