*{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;  
    padding:0;
    color:#ff6060;
}

body{
    max-width: 1440px;
    font-size: 18px;
    margin: auto;
}

header, main{
    max-width: 1240px;
    margin: auto;
}