*{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;  
    padding:0;
    color:$first-color;
}

body{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}

header, main{
    max-width: 1240px;
    margin: auto;
    padding:0 20px;
}


// for tablet and phone
@include tablet-display($max-width-tablet){
    header, main{
        padding:0;
        margin : auto 30px;
    }
}

a{
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

ul{
    list-style: none;
}

