//tablet and desktop media queries mixin
@mixin desktop-display($max-width-desktop){
	@media screen and (max-width:$max-width-desktop){
		@content;
	}
}

//tablet and desktop media queries mixin
@mixin tablet-display($max-width-tablet){
	@media screen and (max-width:$max-width-tablet){
		@content;
	}
}

//phone media queries mixin
@mixin phone-display($max-width-phone){
	@media screen and (max-width:$max-width-phone){
		@content;
	}
}
