@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  color: #FF6060;
}

body {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
}

header, main {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  header, main {
    padding: 0;
    margin: auto 30px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav a {
  font-size: 24px;
  margin: 0 0 0 100px;
}
.header__nav a.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 30px 0;
  }
  .header img {
    width: 130px;
  }
  .header__nav a {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 0 50px;
  }
}
@media screen and (max-width: 480px) {
  .header__nav a {
    font-size: 12px;
    margin: 0 0 0 12px;
  }
}
.banner, .about__banner {
  margin-top: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.banner img, .about__banner img {
  height: 220px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  filter: brightness(0.8);
}
.banner h1, .about__banner h1 {
  display: flex;
  position: absolute;
  color: #FFFFFF;
  font-size: 48px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .banner, .about__banner {
    margin-top: 20px;
  }
  .banner img, .about__banner img {
    border-radius: 10px;
  }
  .banner h1, .about__banner h1 {
    font-size: 36px;
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .banner img {
    height: 110px;
  }
  .banner h1 {
    font-size: 24px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
.error h1 {
  font-weight: 700;
  font-size: 288px;
  margin: 100px 0 0 0;
}
.error p {
  font-size: 36px;
}
.error a {
  text-decoration: underline;
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }
  .error p {
    font-size: 18px;
  }
  .error a {
    font-size: 14px;
  }
}
.home__cards--card {
  position: relative;
  margin: 30px;
  width: 340px;
  height: 340px;
}
.home__cards--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: brightness(0.8);
}
.home__cards--card p {
  color: #FFFFFF;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 5.88%;
  left: 5.88%;
  right: 5.88%;
  top: 80%;
}

@media screen and (max-width: 768px) {
  .home__cards--card {
    margin: 15px 0;
    width: 100%;
  }
}
.carrousel {
  position: relative;
  display: flex;
  justify-content: center;
}
.carrousel__images {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 25px;
}
.carrousel .arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 38%;
}
.carrousel__right {
  right: 3%;
}
.carrousel__left {
  left: 3%;
}
.carrousel p {
  position: absolute;
  color: #FFFFFF;
  bottom: 20px;
}

@media screen and (max-width: 768px) {
  .carrousel__images {
    height: 255px;
  }
  .carrousel .arrow {
    top: 40%;
    height: 30px;
  }
  .carrousel p {
    display: none;
  }
}
footer {
  height: 200px;
  margin-top: 70px;
  padding: 15px 0;
  background-color: #000000;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}
footer img {
  margin-top: 35px;
}
footer p {
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 40px;
  }
  footer p {
    font-size: 12px;
  }
}
.home__cards {
  background-color: #F7F7F7;
  border-radius: 25px;
  margin: 50px 0 0 0;
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .home__cards {
    background-color: transparent;
    padding: 0;
    margin: 20px 0 0 0;
  }
}
.apartment__detail {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.apartment__detail--name h1 {
  margin: 0;
  font-size: 36px;
  font-style: normal;
}
.apartment__detail--tag {
  display: flex;
}
.apartment__detail--tag p {
  margin-right: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #FF6060;
  color: #FFFFFF;
  font-size: 14px;
}
.apartment__detail__host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apartment__detail__host--name {
  display: flex;
  gap: 20px;
  align-items: center;
}
.apartment__detail__host--name img {
  height: 64px;
  border-radius: 100%;
}
.apartment__detail__host--rating {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.apartment__dropdown {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
.apartment__dropdown__content {
  margin-top: 30px;
  width: 100%;
}
.apartment__dropdown__content--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.apartment__dropdown__content--title img {
  height: 15px;
}
.apartment__dropdown__content--title p {
  font-size: 18px;
  color: #FFFFFF;
}
.apartment__dropdown__content--description {
  line-height: 150%;
  position: relative;
  top: -10px;
  z-index: -1;
  font-size: 18px;
  font-weight: 400;
  padding: 30px 20px;
  background-color: #F7F7F7;
}
.apartment__dropdown__content--description ul {
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .apartment__detail {
    flex-direction: column;
  }
  .apartment__detail--tag {
    flex-wrap: wrap;
  }
  .apartment__detail--tag--name {
    font-size: 10px;
  }
  .apartment__detail__host {
    margin-top: 5px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .apartment__detail__host--rating {
    margin: 0;
  }
  .apartment__dropdown {
    flex-direction: column;
    gap: 0px;
  }
}
@media screen and (max-width: 480px) {
  .apartment__detail--name h1 {
    font-size: 18px;
  }
  .apartment__detail--name p {
    font-size: 14px;
  }
  .apartment__detail--tag p {
    font-size: 10px;
  }
  .apartment__detail__host--name img {
    height: 40px;
  }
  .apartment__detail__host--name p {
    font-size: 12px;
  }
  .apartment__detail__host--rating img {
    height: 20px;
  }
  .apartment__dropdown__content--title p {
    font-size: 13px;
  }
  .apartment__dropdown__content--description {
    font-size: 12px;
  }
}
.about {
  margin: 50px auto 0 auto;
  max-width: 1020px;
}
.about__content {
  margin-top: 30px;
}
.about__content--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.about__content--title img {
  height: 15px;
}
.about__content--title p {
  font-size: 24px;
  color: #FFFFFF;
}
.about__content--description {
  line-height: 150%;
  position: relative;
  top: -10px;
  z-index: -1;
  font-size: 24px;
  font-weight: 400;
  padding: 30px 20px;
  background-color: #F7F7F7;
}

@media screen and (max-width: 768px) {
  .about {
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .about__content--title img {
    height: 15px;
  }
  .about__content--title p {
    font-size: 13px;
  }
  .about__content--description {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
